---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import Article from "@/templates/Article.astro";
import { getCollection, getEntry, render } from "astro:content";
import { markdown } from "@astropub/md";

export const getStaticPaths = (async () => {
    const articles = await getCollection("articles", ({ data }) => {
        return data.draft !== true; // Filter out drafts
    });

    return articles.map((article) => ({
        params: { slug: article.id },
        props: { article },
    }));
}) satisfies GetStaticPaths;

type Props = {
    article: CollectionEntry<"articles">;
};

const { article } = Astro.props;

// Load referenced data
const author = await getEntry(article.data.author);
const tags = await Promise.all(article.data.tags.map((tag) => getEntry(tag)));
const threads = await Promise.all(
    article.data.threads.map((thread) => getEntry(thread)),
);

const { Content } = await render(article);
---

<Article title={article.data.title}>
    {
        article.data.featuredImage ? (
            <figure slot="featured-image" class="flex max-h-80 relative">
                <img
                    src={article.data.featuredImage}
                    alt={article.data.title}
                    class="object-cover w-full"
                />
                <figcaption class="absolute bg-gray-900 px-3 py-1 text-white bottom-4 right-4 text-xs">
                    {markdown(article.data.featuredImageCaption || "")}
                </figcaption>
            </figure>
        ) : null
    }

    <article>
        <div class="border-b border-b-gray-300 pb-2">
            <h1 class="text-lg font-bold flex-1 mb-1! mt-0!">
                {article.data.title}
            </h1>
            <time
                datetime={article.data.publishDate.toISOString()}
                class="text-sm"
            >
                {
                    new Date(article.data.publishDate).toLocaleDateString(
                        "id-ID",
                        {
                            weekday: "long",
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        },
                    )
                }
            </time>
        </div>

        {
            tags.length > 0 && (
                <div class="flex flex-wrap gap-2 py-4 text-sm">
                    <strong>Kategori:</strong>
                    {tags.map(
                        (tag) =>
                            tag && (
                                <a href={`/tags/${tag.id}`}>{tag.data.label}</a>
                            ),
                    )}
                </div>
            )
        }

        <Content />
    </article>
</Article>
