---
import ThreadList from "@/templates/ThreadList.astro";
import ThreadCard from "@/components/display/ThreadCard.astro";
import MetaTags from "@/components/structure/MetaTags.astro";
import SchemaOrg from "@/components/structure/SchemaOrg.astro";
import Pagination from "@/components/navigation/Pagination.astro";
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import createExcerpt from "@/utils/createExcerpt";
import { enrichThreadWithMetadata } from "@/utils";

type ThreadData = {
    thread: CollectionEntry<"threads">;
    author: CollectionEntry<"authors">;
    articleCount: number;
};

type Props = {
    page: Page<ThreadData>;
};

export const getStaticPaths = (async ({ paginate }) => {
    const [authors, threads, allArticles] = await Promise.all([
        getCollection("authors"),
        getCollection("threads"),
        getCollection("articles", (entry) => entry.data.draft !== true),
    ]);

    const sortedThreads = threads.sort((a, b) =>
        a.data.label.localeCompare(b.data.label),
    );

    const enrichedThreads = await Promise.all(
        sortedThreads.map((thread) =>
            enrichThreadWithMetadata(thread, allArticles, authors),
        ),
    );

    return paginate(enrichedThreads, { pageSize: 9 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<ThreadList title={`Diajar Utas | Halaman ${page.currentPage}`}>
    <SchemaOrg
        slot="schema"
        data={{
            "@context": "https://schema.org",
            "@type": "Blog",
            "@id": `${Astro.site}${page.currentPage === 1 ? "" : page.currentPage}`,
            url: `${Astro.site}${page.currentPage === 1 ? "" : page.currentPage}`,
            description:
                "Diajar adalah tempat belajar mandiri seputar web, desain, dan irisannya.",
            publisher: {
                "@type": "Person",
                name: "Muhamad Deni Ramdan",
                email: "muhammaddeni90@gmail.com",
            },
            blogPost: page.data.map((datum) => ({
                "@type": "BlogPosting",
                headline: `Diajar: ${datum.thread.data.name}`,
                description: `${createExcerpt(datum.thread.body || "")
                    .substring(0, 150)
                    .trim()}...`,
                image: {
                    "@type": "ImageObject",
                    "@id": `${new URL(datum.thread.data.featuredImage?.src || "/logo.svg", Astro.site)}`,
                    url: `${new URL(datum.thread.data.featuredImage?.src || "/logo.svg", Astro.site)}`,
                },
                author: {
                    "@type": "Person",
                    name: datum.author.data.name,
                    email: datum.author.data.email,
                },
                url: `${Astro.site}threads/${datum.thread.id}`,
            })),
        }}
    />

    <MetaTags
        slot="meta-tags"
        title={`Diajar Utas | Halaman ${page.currentPage}`}
        author="Muhamad Deni Ramdan"
        description="Diajar adalah tempat belajar mandiri seputar web, desain, dan irisannya."
        url={`${Astro.site}threads/${page.currentPage === 1 ? "" : page.currentPage}`}
    />

    <ul
        class="col-start-2 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 px-4"
    >
        {
            page.data.map(({ thread, articleCount }) => (
                <li>
                    <ThreadCard
                        href={`/threads/${thread.id}`}
                        title={thread.data.name}
                        articleCount={articleCount}
                        description={thread.body || "Deskripsi.."}
                    />
                </li>
            ))
        }
    </ul>

    <Pagination
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        urlPattern="/threads"
        className="col-start-2"
    />
</ThreadList>
