---
import Article from "@/templates/Article.astro";
import ThreadView from "@/components/display/ThreadView.astro";
import TableOfContents from "@/components/navigation/TableofContents.astro";
import ShareButtons from "@/components/navigation/ShareButtons.astro";
import BackLink from "@/components/navigation/BackLink.astro";
import SchemaOrg from "@/components/structure/SchemaOrg.astro";
import Masthead from "@/components/display/Masthead.astro";
import MetaTags from "@/components/structure/MetaTags.astro";
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import createExcerpt from "@/utils/createExcerpt";
import { getImage } from "astro:assets";

export const getStaticPaths = (async () => {
    const threads = await getCollection("threads");
    const articles = await getCollection("articles", (entry) => {
        return entry.data.draft !== true;
    });
    const authors = await getCollection("authors");

    return threads.map((thread) => {
        // Get articles for this thread
        const threadArticles = articles
            .filter((article) =>
                article.data.threads.some((t) => t.id === thread.id),
            )
            .sort(
                (a, b) =>
                    a.data.publishDate.valueOf() - b.data.publishDate.valueOf(),
            );
        const author = authors.filter(
            (item) => item.id === thread.data.author.id,
        )[0];

        return {
            params: { slug: thread.id },
            props: { thread, author, articles: threadArticles },
        };
    });
}) satisfies GetStaticPaths;

type Props = {
    thread: CollectionEntry<"threads">;
    author: CollectionEntry<"authors">;
    articles: CollectionEntry<"articles">[];
};

const { thread, author, articles } = Astro.props;
const { Content } = await render(thread);
const featuredImage = thread.data.featuredImage
    ? await getImage({ src: thread.data.featuredImage })
    : null;
---

<Article title={`Diajar: ${thread.data.name}`}>
    <SchemaOrg
        data={{
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            headline: `Diajar: ${thread.data.name}`,
            description: `${createExcerpt(thread.body || "")
                .substring(0, 150)
                .trim()}...`,
            image: {
                "@type": "ImageObject",
                "@id": `${new URL(featuredImage?.src || "/logo.svg", Astro.site)}`,
                url: `${new URL(featuredImage?.src || "/logo.svg", Astro.site)}`,
            },
            author: {
                "@type": "Person",
                name: author.data.name,
                email: author.data.email,
            },
            url: `${Astro.site}threads/${thread.id}`,
        }}
    />

    <MetaTags
        slot="meta-tags"
        title={`Diajar: ${thread.data.name}`}
        description={`${createExcerpt(thread.body || "")
            .substring(0, 150)
            .trim()}...`}
        url={`${Astro.site}threads/${thread.id}`}
        author={author.data.name}
        image={`${new URL(featuredImage?.src || "/logo.svg", Astro.site)}`}
    />

    {
        thread.data.featuredImage ? (
            <Masthead
                slot="featured-image"
                src={thread.data.featuredImage}
                alt={thread.data.name}
                caption={thread.data.caption}
            />
        ) : (
            <div slot="featured-image" class="md:h-0 h-8" />
        )
    }

    <BackLink
        slot="back-link"
        href="/threads"
        className="text-sm fixed top-4 md:text-base md:sticky md:max-w-80 md:top-8 mb-4"
    >
        Utas
    </BackLink>

    <TableOfContents
        thread={thread}
        articles={articles}
        slot="table-of-contents"
    />

    <ThreadView thread={thread}>
        <Content />
    </ThreadView>

    <ShareButtons
        slot="share"
        url={`${Astro.site}threads/${thread.id}`}
        text={createExcerpt(thread.body || "").substring(0, 140)}
        title={thread.data.name}
    />

    {
        articles.length > 0 ? (
            <nav
                id="iterator"
                class="flex items-center justify-between py-8 border-t border-gray-300 mt-8"
            >
                <div class="flex-1 flex justify-end">
                    <a
                        id="nextLink"
                        href={`/articles/${articles[0].id}?thread=${thread.id}`}
                        class="flex items-center gap-2 py-2 rounded-md font-semibold"
                    >
                        <div>Selanjutnya</div>
                        <span class="icon-chevron-right text-lg font-bold" />
                    </a>
                </div>
            </nav>
        ) : null
    }
</Article>
