---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import DefaultCard from "@/components/display/DefaultCard.astro";
import Pagination from "@/components/navigation/Pagination.astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import Default from "@/templates/Default.astro";

export const getStaticPaths = (async ({ paginate }) => {
    const allTags = await getCollection("tags");
    const allArticles = await getCollection("articles", (entry) => {
        return entry.data.draft !== true;
    });

    // Generate paginated paths for each thread
    return allTags.flatMap((tag) => {
        // Filter articles that belong to this thread
        const tagArticles = allArticles
            .filter((article) => article.data.tags.some((t) => t.id === tag.id))
            .sort(
                (a, b) =>
                    b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
            );

        // Create paginated routes for this thread
        return paginate(tagArticles, {
            params: { slug: tag.id },
            pageSize: 9,
            props: { tag },
        });
    });
}) satisfies GetStaticPaths;

type Props = {
    page: Page<CollectionEntry<"articles">>;
    tag: CollectionEntry<"tags">;
};

const { page, tag } = Astro.props;
const { Content } = await render(tag);
---

<Default
    title={`Diajar Artikel: ${tag.data.name} | Halaman ${page.currentPage}`}
>
    <div class="col-start-2 px-4 pb-4">
        <Content />
    </div>

    <ul class="col-start-2 flex flex-col gap-4 px-4">
        {
            page.data.map((article) => (
                <li>
                    <DefaultCard article={article} />
                </li>
            ))
        }
    </ul>

    <div class="col-start-2">
        <Pagination
            currentPage={page.currentPage}
            lastPage={page.lastPage}
            urlPattern={`/tags/${tag.id}`}
            maxVisible={7}
        />
    </div>
</Default>
